/*NOTE: DEFAULT CSS: DESKTOP*/
/*NOTE: DEFAULT CSS: WINDOWS ARE CLOSED*/

/*IMPORT OF GOOGLE FONTS USED: Montains of Christmas, Open Sans*/
@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas|Open+Sans");

/*ADD FONT-FAMILY NOT AVAILABLE VIA GOOGLE FONTS: Cubano Regular*/
@font-face {
    font-family: Cubano Regular;
    src: url(./fonts/Cubano-Regular.otf);
}

* {
  /*The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
  box-sizing: border-box;
}

html {
  background: #f8f8f8;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 60px 100px 100px 100px;
  padding: 0;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 3.6em;
  font-weight: normal;
}

.back-button {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  text-align: center;
  border: none;
  color: #4F8C69;
  font-family: 'Cubano Regular';
  font-size: 18px;
  letter-spacing: 1px;
}

/*FOOTER LEFT ARROW*/
.adv-cal-back-button::before {
  content: "\2191  "
}

/*FOOTER RIGHT ARROW*/
.adv-cal-back-button::after {
  content: "  \2191"
}

a {
  text-decoration: none;
  color: #4F8C69;
}

/*OVERRIDE DEFAULT BACKGROUND FOR STARTPAGE*/
.adv-cal-startpage {
  background: #f8f8f8 url("./images/background-desktop-03.png") 0 0 / 100% auto no-repeat;
}

/*OVERRIDE DEFAULT H1 AND H2 FOR STARTPAGE*/
.adv-cal-startpage h1,
.adv-cal-startpage h2 {
  font-family: 'Cubano Regular';
  margin: 10px;
}

.adv-cal-startpage h1 {
  font-size: 4.3em;
}

.adv-cal-startpage h2 {
  font-size: 1.5em;
  letter-spacing: 2px;
}

/*HEADER FLEXBOX CONTAINER*/
.adv-cal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
}

/*HEADER FLEXBOX ITEM*/
.adv-cal-header-overlay {
  text-align: center;
}

/*HEADER YEAR LEFT ARROW*/
.adv-cal-header-year::before {
  content: "\2190  \2022  "
}

/*HEADER YEAR RIGHT ARROW*/
.adv-cal-header-year::after {
  content: "  \2022  \2192"
}

main {
  /*INTENTIONALLY LEFT BLANK*/
}

/*CALENDAR FLEXBOX CONTAINER*/
.adv-cal-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*ALL CALENDAR FLEXBOX ITEMS*/
/*NOTE: EACH FLEXBOX ITEM IS ALSO A FLEXBOX CONTAINER IN ORDER TO ALIGN DAY NUMBER*/
.window {
  width: 23%;
  height: 250px;
  margin: 0.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cubano Regular';
  font-size: 5em;
}

.window:hover {
  margin-top: 1px;
  position: relative;
}

/*CLOSED/DEFAULT WINDOW COLOR VARIANT 1*/
.window-color-1 {
  background: #A1E3C3;
}

/*CLOSED/DEFAULT WINDOW COLOR VARIANT 2*/
.window-color-2 {
  background: #4F8C69;
}

/*CLOSED/DEFAULT WINDOW COLOR VARIANT 3*/
.window-color-3 {
  background: #77B292;
}

/*IF WINDOW IS OPENABLE*/
.window-is-openable {
  cursor: pointer;
}


/*IF WINDOW IS OPEN*/
/*NOTE: BACKGROUND COLOR SET TO #000000*/
/*NOTE: POSITION SET TO RELATIVE*/
.window-is-open {
  background: #000000;
  position: relative;
  cursor: pointer;

}

/*IF WINDOW IS OPEN*/
/*NOTE: NEW PROPERTIES SET TO GET OPACITY FOR BACKGROUND IMAGE*/
.window-is-open::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-size: cover;
  opacity: 0.85;
  /*NOTE: ENSURE CORRECT ALIGNMENT OF DAY NUMBER IF WINDOW IS OPEN*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*IF WINDOW FOR DAY 01 IS OPEN*/
#window-day-01.window-is-open::after {
  background-image: url("./images/saffrankolasnittar.jpg");
  content: "1";
}


/*IF WINDOW FOR DAY 02 IS OPEN*/
#window-day-02.window-is-open::after {
  background-image: url("./images/kanelbullesockerkaka-2.jpg");
  content: "2";
}

/*IF WINDOW FOR DAY 03 IS OPEN*/
#window-day-03.window-is-open::after {
  background-image: url("https://media.giphy.com/media/l0HlyaiBwRkW6QMKs/source.gif");
  content: "3";
}

/*IF WINDOW FOR DAY 04 IS OPEN*/
#window-day-04.window-is-open::after {
  background-image: url("./images/mjolkchockladbrack.jpg");
  content: "4";
}

/*IF WINDOW FOR DAY 05 IS OPEN*/
#window-day-05.window-is-open::after {
  background-image: url("./images/pepparkakspaj-2.jpg");
  content: "5";
}

/*IF WINDOW FOR DAY 06 IS OPEN*/
#window-day-06.window-is-open::after {
  background-image: url("./images/kardemummakolor.jpg");
  content: "6";
}

/*IF WINDOW FOR DAY 07 IS OPEN*/
#window-day-07.window-is-open::after {
  background-image: url("./images/pepparkakskola-2.jpg");
  content: "7";
}

/*IF WINDOW FOR DAY 08 IS OPEN*/
#window-day-08.window-is-open::after {
  background-image: url("./images/christmastreebrownies-2.jpg");
  content: "8";
}

/*IF WINDOW FOR DAY 09 IS OPEN*/
#window-day-09.window-is-open::after {
  background-image: url("./images/saffransbiscotti.jpg");
  content: "9";
}

/*IF WINDOW FOR DAY 10 IS OPEN*/
#window-day-10.window-is-open::after {
  background-image: url("https://media.giphy.com/media/l4JyO55lBkK587gre/source.gif");
  content: "10";
}

/*IF WINDOW FOR DAY 11 IS OPEN*/
#window-day-11.window-is-open::after {
  background-image: url("./images/chokladkokosrutor.jpg");
  content: "11";
}

/*IF WINDOW FOR DAY 12 IS OPEN*/
#window-day-12.window-is-open::after {
  background-image: url("./images/havreflarn.jpg");
  content: "12";
}

/*IF WINDOW FOR DAY 13 IS OPEN*/
#window-day-13.window-is-open::after {
  background-image: url("./images/kanelbullerulltarta.jpg");
  content: "13";
}

/*IF WINDOW FOR DAY 14 IS OPEN*/
#window-day-14.window-is-open::after {
  background-image: url("./images/chockladbullar.jpg");
  content: "14";
}

/*IF WINDOW FOR DAY 15 IS OPEN*/
#window-day-15.window-is-open::after {
  background-image: url("./images/bananmuffin.jpg");
  content: "15";
}

/*IF WINDOW FOR DAY 16 IS OPEN*/
#window-day-16.window-is-open::after {
  background-image: url("./images/dumlekladdkaka.jpg");
  content: "16";
}

/*IF WINDOW FOR DAY 17 IS OPEN*/
#window-day-17.window-is-open::after {
  background-image: url("https://media.giphy.com/media/l0MYt4mSPCUQRkIBG/source.gif");
  content: "17";
}


/*IF WINDOW FOR DAY 18 IS OPEN*/
#window-day-18.window-is-open::after {
  background-image: url("./images/kanelbullemuffins.jpg");
  content: "18";
}

/*IF WINDOW FOR DAY 19 IS OPEN*/
#window-day-19.window-is-open::after {
  background-image: url("./images/hallongrotta.jpg");
  content: "19";
}

/*IF WINDOW FOR DAY 20 IS OPEN*/
#window-day-20.window-is-open::after {
  background-image: url("./images/partytarta.jpg");
  content: "20";
}

/*IF WINDOW FOR DAY 21 IS OPEN*/
#window-day-21.window-is-open::after {
  background-image: url("./images/rabarberpaj.jpg");
  content: "21";
}

/*IF WINDOW FOR DAY 22 IS OPEN*/
#window-day-22.window-is-open::after {
  background-image: url("./images/karamellappelkaka.jpg");
  content: "22";
}

/*IF WINDOW FOR DAY 23 IS OPEN*/
#window-day-23.window-is-open::after {
  background-image: url("./images/semla.jpg");
  content: "23";
}

/*IF WINDOW FOR DAY 24 IS OPEN*/
#window-day-24.window-is-open::after {
  background-image: url("https://media.giphy.com/media/bJB4eZiGTODw4/giphy.gif");
  background-position: 50% center;
  content: "24";
}

/*SNOW ANIMATION*/

.snow-container {
  position: absolute;
  height: 2000px;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
}
.snow.foreground {
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 52.5s;
          animation-delay: 52.5s;
}
.snow.middleground {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
  -webkit-animation-duration: 65s;
          animation-duration: 65s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 55s;
          animation-delay: 55s;
}
.snow.background {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
  -webkit-animation-duration: 75s;
          animation-duration: 75s;
}
.snow.background.layered {
  -webkit-animation-delay: 60s;
          animation-delay: 60s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

/*MOBILE MEDIA QUERY*/
@media (min-width: 200px) and (max-width: 299px) {
  body {
    margin: 80px 30px 30px 30px; }
  .adv-cal-startpage {
    background: #f8f8f8 url("./images/background-mobile-03.png") 0 0 / 100% auto no-repeat; }
  .adv-cal-startpage h1 {
    font-size: 1.5em; }
  .adv-cal-startpage h2 {
    font-size: 0.6em; }
  .adv-cal-header {
    height: 5px;
    margin-bottom: 120px; }
  .window {
    width: 46%;
    height: 90px;
    font-size: 2em; }
}

@media (min-width: 300px) and (max-width: 399px) {
  body {
    margin: 60px 30px 30px 30px; }
  .adv-cal-startpage {
    background: #f8f8f8 url("./images/background-mobile-03.png") 0 0 / 100% auto no-repeat; }
  .adv-cal-startpage h1 {
    font-size: 2em; }
  .adv-cal-startpage h2 {
    font-size: 0.7em; }
  .adv-cal-header {
    height: 100px;
    margin-bottom: 120px; }
  .window {
    width: 46%;
    height: 130px;
    font-size: 2.5em; }
}

@media (min-width: 400px) and (max-width: 499px) {
  body {
    margin: 80px 30px 30px 30px; }
  .adv-cal-startpage {
    background: #f8f8f8 url("./images/background-mobile-03.png") 0 0 / 100% auto no-repeat; }
  .adv-cal-startpage h1 {
    font-size: 2.5em; }
  .adv-cal-startpage h2 {
    font-size: 1em; }
  .adv-cal-header {
    height: 150px;
    margin-bottom: 120px; }
  .window {
    width: 46%;
    height: 180px;
    font-size: 3.8em; }
}

@media (min-width: 500px) and (max-width: 599px) {
  body {
    margin: 110px 30px 30px 30px; }
  .adv-cal-startpage {
    background: #f8f8f8 url("./images/background-mobile-03.png") 0 0 / 100% auto no-repeat; }
  .adv-cal-startpage h1 {
    font-size: 2.8em; }
  .adv-cal-startpage h2 {
    font-size: 1em; }
  .adv-cal-header {
    height: 150px;
    margin-bottom: 120px; }
  .window {
    width: 46%;
    height: 200px;
    font-size: 3.8em; }
}

/*TABLET MEDIA QUERY*/

@media (min-width: 900px) and (max-width: 1100px) {
  body {
    margin: 100px 60px 30px 60px; }
  .adv-cal-startpage h1 {
    font-size: 3.9em; }
  .adv-cal-startpage h2 {
    font-size:1.4em; }
  .adv-cal-header {
    height: 190px;
    margin-bottom: 100px; }
  .window {
    width: 23%;
    height: 200px;
    font-size: 3.5em; }
}

@media (min-width: 699px) and (max-width: 899px) {
  body {
    margin: 60px 60px 30px 60px; }
  .adv-cal-startpage h1 {
    font-size: 3.4em; }
  .adv-cal-startpage h2 {
    font-size:1.2em; }
  .adv-cal-header {
    height: 190px;
    margin-bottom: 60px; }
  .window {
    width: 23%;
    height: 160px;
    font-size: 3em; }
}

@media (min-width: 600px) and (max-width: 700px) {
  body {
    margin: 35px 60px 30px 60px; }
  .adv-cal-startpage h1 {
    font-size: 2.7em; }
  .adv-cal-startpage h2 {
    font-size:1em; }
  .adv-cal-header {
    height: 190px;
    margin-bottom: 60px; }
  .window {
    width: 23%;
    height: 120px;
    font-size: 2.5em; }
}
