/*NOTE: CSS DESKTOP FIRST*/
/*NOTE: DEFAULT STATE FOR WINDOWS IS CLO*/

/*IMPORT OF GOOGLE FONTS USED: Montains of Christmas, Open Sans*/
@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas|Open+Sans");

/*ADD FONT-FAMILY NOT AVAILABLE VIA GOOGLE FONTS: Cubano Regular*/
@font-face {
    font-family: Cubano Regular;
    src: url(./fonts/Cubano-Regular.otf);
}

* {
  /*The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
  box-sizing: border-box;
}

html {
  background: #f8f8f8;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 100px;
  padding: 0;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 3.6em;
  font-weight: normal;
}

/*OVERRIDE DEFAULT BACKGROUND FOR STARTPAGE*/
.adv-cal-startpage {
  background: #f8f8f8 url("./images/background-desktop-03.png") 0 0 / 100% auto no-repeat;
}

/*OVERRIDE DEFAULT H1 AND H2 FOR STARTPAGE*/
.adv-cal-startpage h1,
.adv-cal-startpage h2 {
  font-family: 'Cubano Regular'
}

/*HEADER FLEXBOX CONTAINER*/
.adv-cal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

/*HEADER FLEXBOX ITEM*/
.adv-cal-header-overlay {
  text-align: center;
}

main {
  /*INTENTIONALLY LEFT BLANK*/
}

/*CALENDAR FLEXBOX CONTAINER*/
.adv-cal-flexbox {
  display: flex;
  flex-wrap: wrap;
}

/*ALL CALENDAR FLEXBOX ITEMS*/
/*NOTE: EACH FLEXBOX ITEM IS ALSO A FLEXBOX CONTAINER IN ORDER TO ALIGN DAY NUMBER*/
.window {
  width: 24%;
  height: 280px;
  background: grey;
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cubano Regular';
  font-size: 5em;
}

/*CLOSED/DEFAULT WINDOW COLOR VARIANT 1*/
.window-color-1 {
  background: red;
}

/*CLOSED/DEFAULT WINDOW COLOR VARIANT 2*/
.window-color-2 {
  background: green;
}

/*CLOSED/DEFAULT WINDOW COLOR VARIANT 3*/
.window-color-3 {
  background: purple;
}

/*DAY NUMBERS IN WINDOWS*/
.window-text {
  font-family: 'Cubano Regular';
  font-size: 3em;
}
