/*IMPORT OF FONTS USED: Montains of Christmas, Open Sans*/
@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas|Open+Sans");

* {
  /*The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
  box-sizing: border-box;
}

html {
  background: red;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 3.6em;
  font-weight: normal;
}

main {
  /*INTENTIONALLY LEFT BLANK*/
}

/*FLEXBOX CONTAINER*/
.adv-cal-flexbox {
  display: flex;
  flex-wrap: wrap;
}

/*ALL FLEXBOX ITEMS*/
.window {
  height: 300px;
}

.window-1 {
  width: 25%;
  background: blue;
}

.window-2 {
  width: 25%;
  background: green;
}

.window-3 {
  width: 50%;
  background: yellow;
}

.window-4 {
  width: 50%;
  background: pink;
}
