/*IMPORT OF BASIC CSS*/
@import '../style.css';

html {
  /*SPECIFIC BACKGROUND COLOR*/
  background: #bfa780;
}


body {
  /*MARGIN IS MOVED TO MAIN ELEMENT INSTEAD*/
  margin: 0;
}

h1,
.top-area-content h2 {
  /*VARIANT FONT-FAMILY FOR SOME HEADINGS*/
  font-family: Cubano Regular;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.top-area-content h2 {
  font-weight: normal;
  margin-bottom: 0;
}

.top-area-content p {
  font-size: 1.2em;
}

/*TOP AREA CONTAINER WITH BACKGROUND IMAGE*/
.top-area-container {
  position: relative;
  height: 450px;
  background: #bfa780 url("../images/kardemummakolor.jpg") center center / cover no-repeat;
}

/*TOP AREA CONTENT (OVERLAY)*/
.top-area-content {
  position: absolute;
  left: 100px;
  bottom: 55px;
  width: 675px;
  padding: 15px 37px 17px 37px;
  background: #9a8a6f8a;
}

main {
  /*MARGIN HERE INSTEAD OF ON BODY ELEMENT*/
  margin: 90px 275px 100px 275px;
}

main h2 {
  font-size: 1.6em;
}

ul,
ol {
  line-height: 1.6em;
}

li {
  margin-bottom: 0.5em;
}

/*FLEXBOX CONTAINING INGREDIENTS AND INSTRUCTIONS*/
.recipe-flexbox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

/*SHARED PROPERTIES FOR BOTH FLEXBOX ITEMS*/
.recipe-flexitem {
  border-left: 2px solid #f8f8f8;
  padding-left: 25px;
}

/*SHARED PROPERTIES FOR BOTH FLEXBOX ITEMS*/
.recipe-flexitem h2 {
  margin-top: 2px;
}

/*SHARED PROPERTIES FOR BOTH FLEXBOX ITEMS*/
.recipe-flexitem ul,
.recipe-flexitem ol {
  margin-bottom: 8px;
}

/*SPECIFIC FOR LEFT FLEXBOX ITEM*/
.recipe-flexitem-left {
  width: 36%;
  margin-right: 4%;
}

/*SPECIFIC FOR RIGHT FLEXBOX ITEM*/
.recipe-flexitem-right {
  margin-left: 4%;
  width: 56%;
}

.recipe-byline {
  font-style: italic;
}

/*THIS CLASS IS USED TO APPLY SOME "MARGIN" TO THE INNER ELEMENT ('.recipe-back-btn')*/
.recipe-back-btn-container {
  padding: 50px 0;
}

.recipe-back-btn {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.05em;
  border: 3px solid #ffffffba;
  border-radius: 50px;
  padding: 17px 37px;
}

@media (max-width: 1200px) {
  main {
    margin: 90px 175px 100px 175px;
  }
}

@media (max-width: 1050px) {
  main {
    margin: 90px 125px 100px 125px;
  }
}

@media (max-width: 900px) {
  main {
    margin: 90px 75px 100px 75px;
  }
  .top-area-content {
    width: 575px;
  }
  h1 {
    font-size: 3em;
  }
  .top-area-content h2 {
    font-size: 1.5em;
  }
  .top-area-content p {
    font-size: 1.3em;
  }
}

@media (max-width: 800px) {
  main {
    margin: 50px 125px 50px 125px;
  }
  .recipe-flexitem {
    border-left: 0;
    padding-left: 0;
  }
  .recipe-flexitem-left {
    width: 100%;
    margin-right: 0;
  }
  .recipe-flexitem-right {
    margin-left: 0;
    width: 100%;
  }
  .recipe-flexitem h2 {
    margin-top: 40px;
  }
  .recipe-flexitem ul,
  .recipe-flexitem ol {
    margin-bottom: auto;
  }
  .top-area-content {
    left: 75px;
    bottom: 55px;
    width: 400px;
  }
  h1 {
    font-size: 1.8em;
  }
  .top-area-content h2 {
    font-size: 1.2em;
  }
  .top-area-content p {
    font-size: 1.1em;
  }
}

@media (max-width: 600px) {
  main {
    margin: 25px 50px 30px 35px;
  }
  .top-area-container {
    height: 350px;
  }
  .top-area-content {
    left: 35px;
    bottom: 45px;
    width: 250px;
    padding: 15px 22px 17px 22px;
  }
  h1 {
    font-size: 1.4em;
  }
  .top-area-content h2 {
    font-size: 1.1em;
  }
  .top-area-content p {
    font-size: 0.9em;
  }
}
