/*IMPORT OF BASIC CSS*/
@import '../style.css';

html {
  background: white;
  color: black;
}

.recipe-09 {
  margin: auto;
  margin-top: 80px;
  display: flex;
  width: 90%;
  background: #f8f8f8;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.last-column {
  display: flex;
  padding: 0 70px 0 60px;
}

.recipe-instructions {
  margin-left: 50px;
}

.header {
  text-align: center;
}

img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}
