/*IMPORT OF BASIC CSS*/
@import '../style.css';

html {
  background: pink;
}

.last-column {
  display: flex;
  justify-content: center;
}

.recipe-image {
  text-align: center;
}

.recipe-amount {
  width: 100%;
  text-align: center;
  height: 50px;
}

.recipe-ingredients {
  width: 250px;
  padding: 20px;
}

.recipe-instructions {
  width: 400px;
  padding: 20px;
}

header {
  width: 100%;
  text-align: center;
}

img {
    border-radius: 50%;
    width: 40%;
}

p {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: 5px;
}

li {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
}

hr {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  border-style: solid;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
  font-style: italic;
}

.recipe-byline {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.recipe-back-btn {
  width: 100%;
  text-align: center;
}

a {
  border: solid;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-width: medium;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
