/*IMPORT OF BASIC CSS*/
@import '../style.css';
@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas|Open+Sans");

html {
  background: #2c3152;
}

body {
  margin-top: 40px;
}

.last-column {
  display: flex;
  justify-content: center;
}

.recipe-image {
  text-align: center;
  padding-bottom: 20px;
}

.recipe-amount {
  width: 100%;
  text-align: center;
  height: 60px;
  margin-top: 30px;
}

.recipe-ingredients {
  width: 250px;
  padding: 10px 20px 20px 20px;
}

.recipe-instructions {
  width: 400px;
  padding: 10px 20px 20px 20px;
}

header {
  width: 70%;
  margin: auto;
  text-align: center;
}

img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

p {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: 0;
}

li {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
}

hr {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  border-style: solid;
}

h1 {
  font-family: Cubano Regular;
  font-weight: 200;
  font-size: 45px;
  margin: 0;
}

h2 {
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

h3 {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
  font-style: italic;
  margin: 0;
}

.recipe-byline {
  width: 100%;
  text-align: center;
  height: 50px;
}

.recipe-back-btn {
  width: 100%;
  text-align: center;
}

a {
  border: solid;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-width: medium;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  img {
    width: 300px;
    height: 300px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    letter-spacing: 1px;
  }
  hr {
    margin-top: 0;
    width: 90%;
  }
  .last-column {
    display: inline;
  }
  .recipe-ingredients {
    padding-bottom: 0;
  }
  header {
    width: 90%;
  }
}
