/*IMPORT OF BASIC CSS*/
@import '../style.css';

html {
  background: green;
  background: url("../images/Trees_1920x1234_background.png");
}


main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text-wrapper#day-14 {
  width: 40%;
  padding-left: 25px;

}

#chokladbollar {
  border-radius: 50%;
}
/*
.recipe-image {
  justify-content: flex-start;
}

.recipe-amount, .recipe-ingredients, .recipe-instructions, .recipe-tips {

}*/
