/*IMPORT OF BASIC CSS*/
@import '../style.css';
@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas|Open+Sans");

html {
  background: #58c8c4;
  animation: fadein 2s;
  }

  @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
      }
    }
  }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
           opacity:1;
    }
  }
}
}

@font-face {
    font-family: Cubano Regular;
    src: url(./fonts/Cubano-Regular.otf);
}

h1 {
  font-size: 42px;
  font-family: Cubano Regular, sans-serif;
  margin-bottom: 0;
}

h2, h3 {
  font-family: 'Clicker Script', cursive;
  font-size: 32px;
  margin: 10px auto 10px auto;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

header p {
  margin-top: 10px;
  font-size: 32px;
  font-family: 'Clicker Script', cursive;
}

p, li, a {
  font: 16px;
  color: inherit;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}


main {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
}

#hallongrotta {
  border-radius: 50%;
  width: 50%;
  border: 2px solid #fff;
  justify-content: center;
  align-self: stretch;
  object-fit: cover;
  border-radius: 50%;
  width: 500px;
}

.text-wrapper-top#day-19 {
  width: 40%;
}

.bottom-wrapper-middle#day-19 {
  width: 60%;
}

.recipe-back-btn {
  border: 2px solid #fff;
  border-radius: 25px;
  width: 75%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
  padding: 5px 5px 5px 5px;
}

.recipe-back-btn:hover {
  background-color: #A1E0DE;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  #hallongrotta, .text-wrapper-top#day-19, .text-wrapper-middle#day-19, .bottom-wrapper#day-19 {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .recipe-back-btn {
    width: 50%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  header {
    width: 100%;
  }
  .recipe-image #hallongrotta {
    width: 80%;
  }
  .recipe-back-btn {
    width: 75%;
  }
}
