/*IMPORT OF BASIC CSS*/
@import '../style.css';
@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas|Open+Sans");

html {
  background: #6b8096;
  animation: fadein 2s;
    @keyframes fadein {
        from {
            opacity:0;
          }
          to {
            opacity:1;
          }
        }
      }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
         opacity:1;
       }
     }
   }
}

body {
  margin-top: 40px;
  height: auto;
}

.last-column {
  display: flex;
  justify-content: center;
}

.recipe-image {
  margin-top: 5%;
  text-align: center;
  padding-bottom: 20px;
}

.recipe-amount {
  width: 100%;
  text-align: center;
  height: 60px;
  margin-top: 30px;
}

.recipe-ingredients {
  width: 250px;
  padding: 10px 20px 20px 20px;
}

.recipe-instructions {
  width: 400px;
  padding: 10px 20px 20px 20px;
}

header {
  width: 100%;
  text-align: center;
}

img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-style: solid;
  border-width: thin;
}

p {
  font-weight: 200;
  font-size: 15px;
  margin-top: 0;
}

li {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
}

hr {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  border-style: solid;
}

h1 {
  font-family: Cubano Regular;
  font-weight: 200;
  font-size: 45px;
  margin: 0;
}

h4 {
  font-family: 'Marck Script', cursive;
  color: #c11919;
  font-size: 30px;
  letter-spacing: 1%;
}

#snow {
	background: none;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 90%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

h2 {
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

h3 {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
  font-style: italic;
  margin: 0;
}

.recipe-byline {
  width: 100%;
  text-align: center;
  height: 50px;
}

.recipe-back-btn {
  width: 100%;
  text-align: center;
}

a {
  border: solid;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-width: medium;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 600px) {

#snow {
  height: 100%;
}

body {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}
  .recipe-image {
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
  }

  img {
    width: 300px;
    height: 300px;
  }

  header {
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  p {
    padding-top: 5%;
  }

  h2 {
    letter-spacing: 1px;
  }
  hr {
    margin-top: 0;
    width: 90%;
  }
  .recipe-instructions {
    width: 80%;
    padding: 10px 20px 20px 20px;
  }
  .last-column {
    display: inline;
  }
  .recipe-ingredients {
    padding-bottom: 0;
  }
}
